/* Fonts and colors */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Permanent+Marker&display=swap');


body {
  background-color: #FEF1F8;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Permanent Marker', cursive;
  color: #820f0f;
}


a {
  text-decoration: none;
  display: inline-block;
}

/* Custo style */
.container {
  width: 600px;
  margin: 0 auto;
}

.img-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 100% 50%;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 30%)
}

.card-white {
  background-color: rgba(250,250,250);
  box-shadow: 0 0 24px rgb(0 0 0 / 10%);
  padding: 24px;
  text-align: center;
  border-radius: 4px;
  margin: 40px 0;
}

.btn-blue {
  background-color: #090952;
  color: rgb(250,250,250);
  padding: 16px 24px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: #FF0B68;
  color: rgb(20,20,20);
  transition: .3s;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline;
  font-size: 64px;
  margin: 0 8px;
}

.list-inline a {
  color: #090952;

}